@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Doto:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans+Mono:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



body{
    background-color: 	#090909;
    margin: 0;
    padding: 0;

}
.hide-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Edge */
  }


.navClass{
    font-family: "Doto", sans-serif;
    font-optical-sizing: auto;
    /* font-size: x-large; */
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
      "ROND" 0;
}

.font-style{
  font-family: "Lato", serif;
  font-weight: 400;
  font-style: normal;
}

.natostyle{
  font-family: "Noto Sans Mono", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


:root{
    font-family: "Inter", sans-serif;
}

.scroller {
  mask-image: linear-gradient(
    to right,
    transparent,
    black 20%,
    black 80%,
    transparent
  );
  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    black 20%,
    black 80%,
    transparent
  );
}

.scroller-inner {
  width: max-content;
  will-change: transform;
  transform: translateZ(0);
  backface-visibility: hidden;
}

.scroller-content {
  width: max-content;
  will-change: transform;
}